<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/landingpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    
  </head>
  <body>
    
    <nav class="nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/lobby">Lobby</a></li>
      </ul>
    </nav>


    <main class="container">
    

      <form method="post" action="/login">
        <label for="username">
          <input type="name" name="username" id="username" placeholder="Username" />
        </label>
        <label for="password">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
        /></label>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>